In [1]:
# Q1 Discuss string slicing and provide examples?

In [4]:
'''String Slicing is used to get desired number of character from wherever we want in string, Example for this is given below in code'''

'String Slicing is used to get desired number of character from wherever we want in string, Example for this is given below in code'

In [5]:
string="pwskills"

In [6]:
string[0:3] #give elements from o to 2

'pws'

In [7]:
string[0:4:2] #give character from 0 to 3 with gap of 2 character

'ps'

In [8]:
#Q2 Explain the key features of list in python?

In [9]:
'''List is ordered, heterogeneous collection of elements, It is also mutable in naure'''

'List is ordered, heterogeneous collection of elements, It is also mutable in naure'

In [10]:
lis=[1,2,3,"pw","game","cricket",4.5,8.8] #it contains heterogeneous elements

In [11]:
lis[0] #can access an element

1

In [12]:
lis[0:5] #slicing is also allowed due to ordered nature

[1, 2, 3, 'pw', 'game']

In [13]:
lis[0]="data_science" #can also change existig elements due to its mutable nature

In [14]:
lis

['data_science', 2, 3, 'pw', 'game', 'cricket', 4.5, 8.8]

In [15]:
#Q3 Describe how to access, modify and delete elements in a list with examples?

In [16]:
name=["anuj","varun","aditya","mayank"]
name[0] #to access elements

'anuj'

In [17]:
name[0]="pratyush" #to modify elements

In [18]:
name

['pratyush', 'varun', 'aditya', 'mayank']

In [19]:
name.remove("pratyush") #to delete element

In [20]:
name

['varun', 'aditya', 'mayank']

In [21]:
#Q4 Compare and contrast tuples and lists with examples?

In [23]:
ans="Tuples are jus like list i.e heterogeneous and ordered in nature but Imuutable i.e there element can't be changed once defined originally\n while, on the other hand, list elements can be modified as per our wish even afer executing it\nExamples for this is giveb below:"
print(ans)

Tuples are jus like list i.e heterogeneous and ordered in nature but Imuutable i.e there element can't be changed once defined originally
 while, on the other hand, list elements can be modified as per our wish even afer executing it
Examples for this is giveb below:

In [24]:
t=(1,2,3) #Tuple

In [25]:
t[0] #we can access any element due to its ordered nature

1

In [26]:
t[1]=4 #we can't modify any element once defined due to its immutable character

TypeError: 'tuple' object does not support item assignment

In [27]:
list1=[1,2,"ab","cd"]
list1[1]="hg" #we can modify an element

In [28]:
list1

[1, 'hg', 'ab', 'cd']

In [29]:
#Q5 Describe the key features of sets and provide ecamples of their use?

In [31]:
ans="Sets are unordered, distict collection of element.\n It is mutable in nature.\nIt is used to store unique different values"
print(ans)

Sets are unordered, distict collection of element.
 It is mutable in nature.
It is used to store unique different values

In [32]:
s={1,3,4,"anuj",4,5,"pw","pw"} #it only take unique values

In [33]:
s

{1, 3, 4, 5, 'anuj', 'pw'}

In [34]:
s[0] #Due to its unordered nature, we can't access its elements

TypeError: 'set' object is not subscriptable

In [35]:
s.add("data") #due to its mutable nature, we can add elements in ita

In [36]:
s

{1, 3, 4, 5, 'anuj', 'data', 'pw'}

In [37]:
'''There are many uses of sets: They can be used in union, intersection, difference etc..'''

'There are many uses of sets: They can be used in union, intersection, difference etc..'

In [38]:
s1={1,2,3,4}
s2={1,2,5,6}
s1&s2 #Union

{1, 2}

In [39]:
s2|s2 #intersection

{1, 2, 5, 6}

In [40]:
s1-s2 #difference

{3, 4}

In [41]:
s1^s2 #to get distinct elements

{3, 4, 5, 6}

In [42]:
#Q6  Discuss the use cases of tuples and sets in Python programming?

In [43]:
ans="Tuples are used for immutable data only like\n storing aadhar card\nCredit/debit card detail etc"
print(ans)

Tuples are used for immutable data only like
 storing aadhar card
Credit/debit card detail etc

In [44]:
ans2="Sets are used to store distinct values only with and can be used in so many different situations"
print(ans2)

Sets are used to store distinct values only with and can be used in so many different situations

In [46]:
name=("Anuj","Mayank","Aditya")
aadahar_no=(2339,9887,9223)
for i in zip(name,aadahar_no):
    print(i)

('Anuj', 2339)
('Mayank', 9887)
('Aditya', 9223)

In [48]:
aadahar_no[1]=5667. #Now if anybody want to modify aadhar detail is not able to do it as it is tuple

TypeError: 'tuple' object does not support item assignment

In [49]:
#Q7. Describe how to add, modify and delete items in a dictionary with examples?

In [50]:
ans="Dictionary is Mutable(only value) data structure that can take value in form of key, value pair"
print(ans)

Dictionary is Mutable(only value) data structure that can take value in form of key, value pair

In [64]:
dicti={"anuj":20,"mayank":22,"aditya":21}
dicti["pratyush"]=22  #To add elements
dicti

{'anuj': 20, 'mayank': 22, 'aditya': 21, 'pratyush': 22}

In [65]:
dicti["anuj"]=21 #To modify elements
dicti

{'anuj': 21, 'mayank': 22, 'aditya': 21, 'pratyush': 22}

In [67]:
del dicti["pratyush"] #to delete element
dicti

{'anuj': 21, 'mayank': 22, 'aditya': 21}

In [68]:
#Q8 Discuss the importance of  dictionary keys being immutable and provide examples?

In [70]:
ans="Dictionary keys are immutable i.e if they are once defind, there values can be change but key can't be changed"
print(ans)

Dictionary keys are immutable i.e if they are once defind, there values can be change but key can't be changed

In [71]:
d={"cholle kulche":120,"panner-tikka":70,"samosa":15,"tikki":70}
d["cholle kulche"]=170  #I can change the price of items which i have but i can't change the key that is value of food
d

{'cholle kulche': 170, 'panner-tikka': 70, 'samosa': 15, 'tikki': 70}

In [73]:
ans2="We can change value but not key because value are defined by key internally\nLike in list values are defined by numerical numbers 1,2,3,4, similarly in dictionary in above example price list is defined by key that is name of food itnems assigned to them"
print(ans2)

We can change value but not key because value are defined by key internally
Like in list values are defined by numerical numbers 1,2,3,4, similarly in dictionary in above example price list is defined by key that is name of food itnems assigned to them